<a href="https://colab.research.google.com/github/NoobDip/Naive-Bayesian-Using-Golf-Data/blob/main/Golf_Dataset_Correction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
full_data = pandas.read_csv('/content/drive/MyDrive/ML_Lab/golf_dataset_wide_format.csv')
full_data.columns

Index(['Date', 'Weekday', 'Month', 'Season', 'Holiday', 'Temperature',
       'Humidity', 'Windy', 'Outlook', 'Crowdedness', 'Play_A',
       'PlayTimeHour_A', 'Play_B', 'PlayTimeHour_B', 'Play_C',
       'PlayTimeHour_C', 'Play_D', 'PlayTimeHour_D', 'Play_E',
       'PlayTimeHour_E', 'Play_F', 'PlayTimeHour_F', 'Play_G',
       'PlayTimeHour_G'],
      dtype='object')

In [ ]:
data = full_data.drop(columns=['Date', 'Weekday', 'Month', 'Season', 'Holiday', 'Crowdedness', 'PlayTimeHour_A', 'PlayTimeHour_B', 'PlayTimeHour_C', 'PlayTimeHour_D', 'PlayTimeHour_E', 'PlayTimeHour_F', 'PlayTimeHour_G'])
data.columns

Index(['Temperature', 'Humidity', 'Windy', 'Outlook', 'Play_A', 'Play_B',
       'Play_C', 'Play_D', 'Play_E', 'Play_F', 'Play_G'],
      dtype='object')

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1095 entries, 0 to 1094
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Temperature  1095 non-null   float64
 1   Humidity     1095 non-null   float64
 2   Windy        1095 non-null   int64
 3   Outlook      1095 non-null   object
 4   Play_A       1095 non-null   int64
 5   Play_B       1095 non-null   int64
 6   Play_C       1095 non-null   int64
 7   Play_D       1095 non-null   int64
 8   Play_E       1095 non-null   int64
 9   Play_F       1095 non-null   int64
 10  Play_G       1095 non-null   int64
dtypes: float64(2), int64(8), object(1)
memory usage: 94.2+ KB

In [ ]:
data.describe()

,Temperature,Humidity,Windy,Play_A,Play_B,Play_C,Play_D,Play_E,Play_F,Play_G
count,1095.000000,1095.000000,1095.000000,1095.000000,1095.000000,1095.000000,1095.000000,1095.000000,1095.000000,1095.000000
mean,13.435525,61.525114,0.507763,0.209132,0.223744,0.233790,0.189954,0.257534,0.060274,0.103196
std,8.043321,14.435162,0.500168,0.406875,0.416943,0.423434,0.392444,0.437476,0.238102,0.304354
min,-2.000000,18.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,6.000000,52.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,13.800000,61.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,20.500000,72.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
max,29.500000,99.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [ ]:
data['humid'] = data.apply(lambda x: 1 if x['Humidity']>60 else 0,  axis=1)
data['temp'] = data.apply(lambda x: 1 if x['Temperature']>20 else 0,  axis=1)
data = data.drop(columns=['Temperature', 'Humidity'])
print(data.head())
print(data.describe())
print(data.info())

   Windy   Outlook  Play_A  Play_B  Play_C  Play_D  Play_E  Play_F  Play_G  \
0      1     sunny       1       0       0       1       1       0       0
1      0     sunny       1       0       1       0       0       0       0
2      0  overcast       0       0       1       0       0       0       0
3      0  overcast       0       0       0       0       0       0       0
4      1     sunny       0       0       0       0       1       0       0

   humid  temp
0      0     0
1      0     0
2      0     0
3      0     0
4      0     0
             Windy       Play_A       Play_B       Play_C       Play_D  \
count  1095.000000  1095.000000  1095.000000  1095.000000  1095.000000
mean      0.507763     0.209132     0.223744     0.233790     0.189954
std       0.500168     0.406875     0.416943     0.423434     0.392444
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       0.000000     0.000000     0.000000     0.000000     0.000000
50%       1.000000     0.000000     0.000000     0.000000     0.000000
75%       1.000000     0.000000     0.000000     0.000000     0.000000
max       1.000000     1.000000     1.000000     1.000000     1.000000

            Play_E       Play_F       Play_G        humid         temp
count  1095.000000  1095.000000  1095.000000  1095.000000  1095.000000
mean      0.257534     0.060274     0.103196     0.500457     0.272146
std       0.437476     0.238102     0.304354     0.500228     0.445268
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       0.000000     0.000000     0.000000     0.000000     0.000000
50%       0.000000     0.000000     0.000000     1.000000     0.000000
75%       1.000000     0.000000     0.000000     1.000000     1.000000
max       1.000000     1.000000     1.000000     1.000000     1.000000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1095 entries, 0 to 1094
Data columns (total 11 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Windy    1095 non-null   int64
 1   Outlook  1095 non-null   object
 2   Play_A   1095 non-null   int64
 3   Play_B   1095 non-null   int64
 4   Play_C   1095 non-null   int64
 5   Play_D   1095 non-null   int64
 6   Play_E   1095 non-null   int64
 7   Play_F   1095 non-null   int64
 8   Play_G   1095 non-null   int64
 9   humid    1095 non-null   int64
 10  temp     1095 non-null   int64
dtypes: int64(10), object(1)
memory usage: 94.2+ KB
None

In [ ]:
data["Play"]=data.Play_A | data.Play_B | data.Play_C | data.Play_D | data.Play_E | data.Play_F | data.Play_G
data = data.drop(columns=['Play_A','Play_B','Play_C','Play_D','Play_E','Play_F','Play_G'])
print(data.head())
print(data.describe())
print(data.info())

   Windy   Outlook  humid  temp  Play
0      1     sunny      0     0     1
1      0     sunny      0     0     1
2      0  overcast      0     0     1
3      0  overcast      0     0     0
4      1     sunny      0     0     1
             Windy        humid         temp         Play
count  1095.000000  1095.000000  1095.000000  1095.000000
mean      0.507763     0.500457     0.272146     0.691324
std       0.500168     0.500228     0.445268     0.462158
min       0.000000     0.000000     0.000000     0.000000
25%       0.000000     0.000000     0.000000     0.000000
50%       1.000000     1.000000     0.000000     1.000000
75%       1.000000     1.000000     1.000000     1.000000
max       1.000000     1.000000     1.000000     1.000000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1095 entries, 0 to 1094
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Windy    1095 non-null   int64
 1   Outlook  1095 non-null   object
 2   humid    1095 non-null   int64
 3   temp     1095 non-null   int64
 4   Play     1095 non-null   int64
dtypes: int64(4), object(1)
memory usage: 42.9+ KB
None

In [ ]:
rows_to_remove = data[data["Play"] == 1].sample(frac=0.5).index
data = data.drop(rows_to_remove)
data['Play'].value_counts()

1    379
0    338
Name: Play, dtype: int64

In [ ]:
data.to_csv("/content/drive/MyDrive/ML_Lab/golf_dataset.csv", index=False)